## Comprehensions
    - It is a process of creating new sequence from existing sequence
- Advantages
    - Less code and easier to understood
- Types comprehensions
    - List comprehension
    - dictionary comprehensions
    - set comprehensions
    - generator comprehensions

### List comprehension

In [1]:
li = [2,5,6,7,3,43,8,5]
li1 = []
for i in li:
    if i%2==0:
        li1.append(i)
li1

[2, 6, 8]

In [2]:
li = [2,5,6,7,3,43,8,5]
b = [i for i in li if i%2==0 ]
print(b)

[2, 6, 8]

In [3]:
l = [6,5,4]
res = [i**3 for i in l]
res

[216, 125, 64]

In [4]:
li = [2,5,6,7,3,43,8,5]
t = [i if i%2==0 else 'Odd' for i in li]
t

[2, 'Odd', 6, 'Odd', 'Odd', 'Odd', 8, 'Odd']

In [5]:
w = ['Stay home','Stay safe']
li = []
for i in w:
    for j in i.split():
        li.append(j)
print(li)

['Stay', 'home', 'Stay', 'safe']

In [6]:
x = [j for i in w for j in i.split()]
x

['Stay', 'home', 'Stay', 'safe']

In [7]:
a = [[i*j for i in range(1,11)] for j in range(1,11)]
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

## Dictionary comprehension

In [8]:
id_no = ['N130663','N130664','N130665']
names = ['Ramu','raju','ravi']
c = {}
for (key,value) in zip(id_no,names):
    c[key] = value
print(c)

{'N130663': 'Ramu', 'N130664': 'raju', 'N130665': 'ravi'}

In [9]:
d = {i:i**2 for i in range(1,6)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Set comprehension

In [10]:
s = {i**3 for i in range(10)}
s

{0, 1, 8, 27, 64, 125, 216, 343, 512, 729}

## Generator comprehension

In [11]:
li = [1,3,4,5]
c = (i**3 for i in li)
print(c)
for i in c:
    print(i)

<generator object <genexpr> at 0x000001CB1DD7F6D0>
1
27
64
125

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

## Iterators and Generators

- Iterator
    - It will contain number elements and we can acess elements as per requiements
    - iter and next

In [14]:
s = 'python'
for i in s:
    print(i)

p
y
t
h
o
n

In [15]:
s = 'python'
s_iter = iter(s)
next(s_iter)

'p'

In [16]:
next(s_iter)

'y'

In [17]:
next(s_iter)

't'

In [18]:
next(s_iter)

'h'

In [19]:
next(s_iter)

'o'

In [20]:
for i in range(5,8):
    print(i)

5
6
7

In [21]:
next(s_iter)

'n'

In [22]:
next(s_iter)

StopIteration:

## Generator

    -  Generator is also like function but in place of return we will use yield
    -  Generators will be used in combination of iterator

In [24]:
def printing():
    return 'n'
    return 'o'

printing()

'n'

In [26]:
def function():
    yield 'n'
    yield 1
    yield 2
    yield 4
    
for value in function():
    print(value,end=' ')

n 1 2 4

## Functional programming
- lambda
- map
- filter
- reduce

- Lamda(): Also known as anonymous function. It is reused creting a small function
- This function have number of arguments but only one expression

- Syntax: lamda arguments:expression

In [27]:
def add(a,b):
    return a+b
add(4,6)

10

In [35]:
a1 = lambda a,b:a+b
print(a1(4,8))

12

## map
- Syntax: map(function,iterable1,iterable2,...)

In [37]:
def mul(a):
    return a*a

x = map(mul,[3,6,5])
print(list(x))

[9, 36, 25]

In [40]:
names = ['abc','bty','cwe']
upper = tuple(map(str.upper,names))
print(upper)

('ABC', 'BTY', 'CWE')

In [39]:
a = 'tsdf'
type(a)

str

### map() with lambda()

In [41]:
a = map(lambda x:x**3,[4,6,32])
list(a)

[64, 216, 32768]

## filter()
- returns the iterator where the items are filtered
- Syntax: filter(function,iterable)

In [42]:
num = [6,5,3,4,0,1]

def greater(x):
    if x>=1:
        return True
    else:
        return False
    
ans = filter(greater,num)
for i in ans:
    print(i)

6
5
3
4
1

## reduce()
- This function returns single value
- Syntax: reduce(function,iterable)

In [43]:
import functools
a = functools.reduce(lambda x,y:x+y,[10,20,30,40])
a

100

In [ ]:
10 20 30 40
x = 10
y = 20

x = 30
y = 30
 
x = 60
y = 40

100