## String methods

In [1]:
print(dir(str),end=' ')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [19]:
s = 'welcome to python'
s.capitalize()    ### It converts first letter of string into capital

'Welcome to python'

In [20]:
s = 'HELLO hi'
s.casefold()   #### It converts upper case letters into lowercase letter of a string

'hello hi'

In [12]:
s

'HELLO hi'

In [18]:
s.center(20,'*')  ### it returns the original with fill character by added spaces based on width

'******HELLO hi******'

In [19]:
h = 'apssdc'
h.count('s')  ### it return the number how many times the given string is repeated

2

In [22]:
h = "Twinkle, Twinkle, Little Star"
h.count('Twinkle')

2

In [39]:
x = 'HËLLO'
x.encode()  ### it returns encoded string

b'H\xc3\x8bLLO'

In [24]:
a = 'endswith endswith '
a.endswith('with ',0,len(a))  ## it is a boolean function and it gives result True or false

True

In [49]:
s = 'hello\thi\t'
s.expandtabs()  ### it gives one tab when our string having special character '\t'

'hello   hi      '

In [26]:
a = 'nandini'
a.find('i') ### it gives index value of the string first occurence of the given string
a.find('t')

-1

In [27]:
a.index('i')   ### index also same as find method
a.index('t')

ValueError: substring not found

In [58]:
s1 = 'hi i am {0}, having id {1}'
s1.format('Nandini',123)            ### concatenate given arguments in original string

'hi i am Nandini, having id 123'

In [64]:
point = {'x':'hi','y':1234,'z':9.5}
print('{x} {y} {z}'.format_map(point))  ## returns key's values in a dictionary

hi 1234 9.5

In [29]:
i = 'ABCxyz1234'
i.isalnum() ### it returns TRUE when our entire string is in combination of numbers,alphabets,int

True

In [31]:
j = 'abcXYZ'
j.isalpha() ## gives True if our strings contains only alphabets

True

In [32]:
k = 'abCD12@'
k.isascii()  ## it always gives True

True

In [33]:
l = '123'
l.isdecimal()  ## 0-9

True

In [34]:
#m = '34523'
m = '⑦'
m.isdigit()  ## returns True if all characters in a string are digits

True

In [35]:
o = '3abcAFR_1'
o.isidentifier()  ## Special character are not allowed
                  ## string should not starts with integer and space

False

In [144]:
a1 = 'cat'
a2 = 'CAT'

print(a1.islower())   ##returns True when entire string having lowercase letter
print(a2.islower()) 

print(a1.isupper())   ### returns True when entire string having uppercase letter
print(a2.isupper())

True
False
False
True

In [16]:
n = '½¼42'
n.isnumeric()  ##  integers, fractions, subscript, superscript etc

True

In [37]:
## returns True if all characters in the string are printable or the string is empty.

q = 'dsjfhj'
q.isprintable()

True

In [38]:
r = '  '
r.isspace() # returns True if we empty string

True

In [39]:
t = 'Welcome To Andhra Pradesh'
t.istitle()  ## return True if each word's first letter is in capital

True

In [179]:
li = ['abc','xyz','123']
a = '@@'.join(li)
print(a)   ##  it returns after joins each element of an iterable by giving substring

abc@@xyz@@123

In [182]:
j = 'india'
j.ljust(15,'*') ## returns the string left justified in a string of length width

'india**********'

In [183]:
j.rjust(15,'$') ## returns the string right justified in a string of length width

'$$$$$$$$$$india'

In [265]:
## it returns a Unicode representation of each character for translation.
##  returns a mapping table for translation 

dict = {"x": "100", "y": "65", "c": "7","z":'98'}
new = "xyz"
print(new.maketrans(dict))

{120: '100', 121: '65', 99: '7', 122: '98'}

In [206]:
## splits the string at the first occurrence of the argument string 

l = 'Good morning all have a nice day have you seen attended last class'
l.partition('have')

('Good morning all ', 'have', ' a nice day have you seen attended last class')

In [212]:
o = 'hi'
n = o.replace('hi','hello')
print(o)
print(n)   ## returns replaced string

hi
hello

In [41]:
r = 'Megastar'
r.rfind('a')   ## return index position from right side of the string

6

In [225]:
r.rindex('a')  ## similar to rfind

6

In [226]:
## reverse to partitoin

l = 'Good morning all have a nice day have you seen attended last class'
l.rpartition('have')

('Good morning all have a nice day ', 'have', ' you seen attended last class')

In [239]:
## it returns a list of strings after breaking the given string by the given separator

l = 'Today class is about string methods\n and lists'
print(l.split('is'))
print(l.rsplit())
print(l.splitlines())

['Today class ', ' about string methods\n and l', 'ts']
['Today', 'class', 'is', 'about', 'string', 'methods', 'and', 'lists']
['Today class is about string methods', ' and lists']

In [240]:
y = 'nandini'
y.startswith('n') # returns True if we the given string starts with specified argument

True

In [247]:
st = '       rain      '
print(st.strip())   ## it removes all spaces which are present in right and left side of string
print(st.rstrip())  ## it removes space presented in right side of string
print(st.lstrip())  ## it removes space presented in left side of string

rain
       rain
rain

In [248]:
t = 'Welcome back to BIGGBOSS SHOW'
t.swapcase()##it converts lower case letters into uppercase and upper into lower of given string

'wELCOME BACK TO biggboss show'

In [249]:
t = 'Welcome back to BIGGBOSS SHOW'
t.title()  ## returns each word's first letter into uppercase of given string

'Welcome Back To Biggboss Show'

In [250]:
k = 'anaconda'
k.upper()     ## it converts each letter of a string into uppercase

'ANACONDA'

In [251]:
u = 'JUPYTER'
u.lower()   ## it converts each letter of a given string into lowercase

'jupyter'

In [298]:
d = {67: 68, 97:111, 116:103} 
  
string = "Cat" # Dog
string.translate(d)     ## making translation by providng maping

'Dog'

In [42]:
z = 'THANK YOU ALL'
z.zfill(20) ## fills the given string with zeros

'0000000THANK YOU ALL'